---
import FinalStep from "./FinalStep.astro";
import PreviousStep from "./PreviousStep.astro";
---

<div class="md:py-6 md:pr-16 text-gray-700 dark:text-gray-400">
  <PreviousStep
    title="Step 1"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus."
  />
  <PreviousStep
    title="Step 2"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
  />
  <PreviousStep
    title="Step 3"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
  />
  <FinalStep />
</div>
