---
import { LOREM_157, LOREM_233 } from "~/utils/loremIpsum";
import FinalStep from "./FinalStep.astro";
import PreviousStep from "./PreviousStep.astro";
---

<div class="md:py-6 md:pr-16 text-gray-700 dark:text-gray-400">
  <PreviousStep title="Step 1" description={LOREM_233} />
  <PreviousStep title="Step 2" description={LOREM_157} />
  <PreviousStep title="Step 3" description={LOREM_157} />
  <FinalStep />
</div>
