<li>
  <a
    class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
    href={Astro.props.href}
    >{Astro.props.title}
  </a>
</li>
