---
import { IconSun, IconMenu } from "~/components/icons";
import Logo from "~/components/widgets/Logo.astro";
const {} = Astro.props;
---

<div class="flex justify-between">
  <a class="flex items-center" href="/">
    <Logo />
  </a>
  <div class="flex items-center md:hidden">
    <button
      type="button"
      class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
      aria-label="Toggle between Dark and Light mode"
      data-aw-toggle-color-scheme
    >
      <IconSun class="w-6 h-6" />
    </button>
    <button
      class="ml-1.5 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center transition"
      aria-label="Toggle Menu"
      data-aw-toggle-menu
    >
      <IconMenu class="w-6 h-6" />
    </button>
  </div>
</div>
