---
import SectionHeader from "../SectionHeader.astro";
import FeaturesGrid from "./featuresGrid.astro";

const { title, description } = Astro.props;
---

<section class="relative">
  <div
    class="absolute inset-0 bg-blue-50 dark:bg-slate-800 pointer-events-none mb-32"
    aria-hidden="true"
  >
  </div>
  <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      <SectionHeader title={title} description={description}
        ><slot />
      </SectionHeader>
      <FeaturesGrid />
    </div>
  </div>
</section>
