---
const { header, description } = Astro.props;
---

<div
  class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
>
  <div class="flex items-center mb-4">
    <svg
      class="w-12 h-12 p-1"
      viewBox="0 0 64 64"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g fill="none" fill-rule="evenodd">
        <rect class="fill-current text-blue-600" width="64" height="64" rx="32"
        ></rect>
        <g stroke-linecap="square" stroke-width="2">
          <path
            class="stroke-current text-white"
            d="M20.571 20.571h13.714v17.143H20.571z"></path>
          <path
            class="stroke-current text-blue-300"
            d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
          >
          </path>
        </g>
      </g>
    </svg>
    <div class="ml-4 text-xl font-bold">{header}</div>
  </div>
  <p class="text-gray-500 dark:text-gray-400 text-md">
    {description}
  </p>
</div>
