---
import Stat from "./Stat.astro";

const {} = Astro.props;
---

<div
  class="px-4 py-8 md:py-16 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-20 max-w-6xl"
>
  <div class="grid grid-cols-2 row-gap-8 md:grid-cols-4">
    <Stat name="Downloads" number="132K" />

    <Stat name="Stars" number="24.8K" />

    <Stat name="Forks" number="10.3K" />

    <Stat name="Users" number="48.4K" />
  </div>
</div>
