---
import Layout from "~/layouts/PageLayout.astro";

import { SITE } from "~/config.mjs";

import BasicCTA from "~/components/widgets/BasicCTA.astro";
import BasicFeatures from "~/components/widgets/basic/features/BasicFeatures.astro";
import Stats from "~/components/widgets/Stats.astro";
import Steps from "~/components/widgets/basic/steps/steps.astro";
import MainContent from "~/components/widgets/basic/main-content/MainContent.astro";
import HighlightedPosts from "~/components/widgets/basic/highlights/HighlightedPosts.astro";
import BasicFAQs from "~/components/widgets/basic/frequent-questions/BasicFAQs.astro";

const title = `${SITE.name} — Your website with Astro + Tailwind CSS`;
const description =
  "🚀 AstroWind is a free and Ready to Start template to make your website using Astro and Tailwind CSS.";
const canonical = new URL("", Astro.site);
---

<Layout meta={{ title, description, canonical }}>
  <main>
    <MainContent />
    <BasicFeatures
      title="Components"
      description="Provides frequently used components for building websites using Tailwind CSS"
      ><h2
        class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
      >
        Most used widgets
      </h2>
    </BasicFeatures>
    <Steps />
    <HighlightedPosts
      title={{ firstLine: "Find out more content", secondLine: " in our Blog" }}
      description="The blog will be used to display AstroWind documentation. Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS The blog does not exist yet, but very soon. Astro is a very interesting technology. Thanks."
    />
    <BasicFAQs title="Frequently Asked Questions" />
    <Stats />
    <BasicCTA />
  </main>
</Layout>
