---
import Layout from "~/layouts/PageLayout.astro";

import { SITE } from "~/config.mjs";

import BasicCTA from "~/components/widgets/BasicCTA.astro";
import BasicFeatures from "~/components/widgets/basic/features/BasicFeatures.astro";
import BasicFAQs from "~/components/widgets/BasicFAQs.astro";
import HighlightedPosts from "~/components/widgets/HighlightedPosts.astro";
import Stats from "~/components/widgets/Stats.astro";
import Steps from "~/components/widgets/basic/steps/steps.astro";
import Hero from "~/components/widgets/basic/main-content/hero.astro";

const title = `${SITE.name} — Your website with Astro + Tailwind CSS`;
const description =
  "🚀 AstroWind is a free and Ready to Start template to make your website using Astro and Tailwind CSS.";
const canonical = new URL("", Astro.site);
---

<Layout meta={{ title, description, canonical }}>
  <main>
    <Hero />
    <BasicFeatures
      title="Components"
      description="Provides frequently used components for building websites using Tailwind CSS"
      ><h2
        class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
      >
        Most used widgets
      </h2>
    </BasicFeatures>
    <Steps />
    <HighlightedPosts />
    <BasicFAQs />
    <Stats />
    <BasicCTA />
  </main>
</Layout>
