---
const { href, title } = Astro.props;
---

<div class="mb-2">
  <a
    class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
    href={href}
    >{title}
  </a>
</div>
