---
const { title, href } = Astro.props;
---

<div>
  <a
    class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
    href={href}
    >{title}
  </a>
</div>
