---
import SectionHeader from "../../SectionHeader.astro";
import Feature from "./Feature.astro";
import FeaturePane from "./FeaturePane.astro";

const {} = Astro.props;
---

<section
  class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-blue-50 dark:bg-slate-800"
>
  <SectionHeader
    title="Features"
    description="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
  >
    <h2
      class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
    >
      What's interesting about <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500 whitespace-nowrap"
        >AstroWind
      </span>
    </h2>
  </SectionHeader>
  <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
    <FeaturePane>
      <Feature
        title="Integration with Tailwind CSS"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi, quam nec venenatis lobortis, mi risus tempus nulla."
      />
      <Feature
        title="Ready-to-use Components"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi, quam nec venenatis lobortis, mi risus tempus nulla."
      />
      <Feature
        title="Best Practices"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi, quam nec venenatis lobortis, mi risus tempus nulla."
      />
    </FeaturePane>
    <FeaturePane>
      <Feature
        title="Excelent Page Speed"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi, quam nec venenatis lobortis, mi risus tempus nulla."
      />
      <Feature
        title="Frequently updated"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi, quam nec venenatis lobortis, mi risus tempus nulla."
      />
      <Feature
        title="Open to new ideas and contributions "
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi, quam nec venenatis lobortis, mi risus tempus nulla."
      />
    </FeaturePane>
  </div>
</section>
